/*FORMS*/

.cadastro_forms {
    text-align: center;
    font-family:'Copperplate Gothic Light', Courier, monospace;
    padding-top: 5px;
    margin: 0 auto; 
    background-color: #7E84ED;
    display: flex;
    align-items: center;
}
.cadastro_forms_login {
    text-align: center;
    font-family:'Copperplate Gothic Light', Courier, monospace;
    padding-top: 5px;
    margin: 0 auto; 
    background-color: #7E84ED;
    align-items: center;
}

/* Adicione uma classe para a div que contém os botões */
.button-container {
    clear: both; /* Limpa a flutuação dos elementos anteriores */
    text-align: center; /* Centraliza os botões */
    margin-top: 20px; /* Define a margem superior para separar dos elementos anteriores */
}


.forms_container {
    width: 100%; /* Garante que ocupe toda a largura do contêiner pai */
}

.obrigatorio {
    width: 48%; /* Define a largura da coluna esquerda */
    float: left; /* Alinha a coluna à esquerda */
    box-sizing: border-box; /* Mantém a largura real após adicionar o padding */
    padding: 10px;
    padding-left: 5%;
    padding: 10px 100px 10px 0;
    
}

.nao_obrigatorio {
    width: 48%; /* Define a largura da coluna direita */
    float: right; /* Alinha a coluna à direita */
    box-sizing: border-box; /* Mantém a largura real após adicionar o padding */
    padding: 10px 0 10px 100px;
    margin-top: 130px;
}



input[type=text], input[type=email], input[type=number], input[type=date], input[type=datetime], input[type=password]{
    border: 1px solid #ccc; /* define a borda da caixa de digitação */
    border-radius: 5px; /* define o raio de borda da caixa de digitação */
    padding: 7px; /* define o preenchimento interno da caixa de digitação */
    font-size: 16px; /* define o tamanho da fonte da caixa de digitação */
    margin-bottom: 10px; /* define a margem inferior da caixa de digitação */
    align-items: center;
}
label {
    display: block; /* define o display para block para que a label fique em uma linha separada */
    margin-bottom: 5px; /* define a margem inferior da label */
    font-size: 16px; /* define o tamanho da fonte da label */
    color: #ffffff; /* define a cor do texto da label */
    
}

/*TABLES*/

table {
    border-collapse: collapse;
    background: #EBE2DB;
}

.pets-table{
    align-self: center;
    align-items: center;
}

td, th {
    padding: 8px;
    text-align: left;
    border: 1px solid #4EED81;
    background: #EBE2DB;
}