<!DOCTYPE html>
{% load static %}

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Jupiter_app/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/template.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/images.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/sections.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/texts.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/reset.css' %}">
    <title>Cadastro</title>
</head>

<body class="site_body">
    <div class="forms_title">
        <h1 align="center">Cadastre-se</h1>
    </div>
    <div class="forms_container">
        <form class="cadastro_forms" method="POST">
            {% csrf_token %}
            <div class="obrigatorio">
                <label for="nome">Nome: </label>
                <input id="nome" type="text" name="nome" maxlength="100" required>
                <label for="cpf">CPF: </label>
                <input id="cpf" type="text" name="cpf" maxlength="14" required>
                <label for="data_nascimento">Data de Nascimento: </label>
                <input id="data_nascimento" type="date" name="data_nascimento" required>
                <label for="Endereco">Endereço: </label>
                <input id="endereco"type="text" name="endereco" maxlength="100" required>
                <label for="complemento">Complemento:</label>
                <input id="complemento" type="text" name="complemento" maxlength="100">
                <label for="Email">E-mail: </label>
                <input id="email" type="email" name="email" maxlength="254" required>
                <label for="celular">Celular: </label>
                <input id="celular" type="text" name="celular" maxlength="13" required>
                <label for="senha">Senha:</label>
                <input id="senha" type="text" name="senha" maxlength="100" required>
                <label for="rg">RG:</label>
                <input id="rg" type="text" name="rg" maxlength="12" required>
                <label for="cep">Cep:</label>
                <input id="cep" type="text" name="cep" maxlength="9" required>
            </div>
            <br>
            <div class="nao_obrigatorio">
                <label for="tipo_sanguineo">Tipo Sanguíneo:</label>
                <input id="tipo_sanguineo" type="text" name="tipo_sanguineo" >
                <label for="alergias">Histórico de Alergias:</label>
                <input id="alergias" type="text" name="alergias">
                <label for="remedios">Medicamentos de uso contínuo:</label>
                <input type="text" name="remedios" id="remedios">
                <label for="peso">Peso:</label>
                <input type="text" name="peso" id="peso">
                <label for="altura">Altura:</label>
                <input type="text" name="altura" id="altura">
            </div>

            <br>
            <button id="cancelar" type="button" onclick="window.location.replace('/')">Cancelar</button>
            <button id="enviar" type="submit">Enviar</button>
        </form>
    </div>
</body>

</html>
