<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Jupiter_app/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/template.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/images.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/sections.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/texts.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/reset.css' %}">
    <title>Área de Login</title>
</head>

<body class="site_body">
    <header class="site-header">
        <img class="logo" alt="logo" onclick="window.location.replace('/')"
            src="{% static 'Jupiter_app/images/logo(1).png' %}">
    </header>

    <main class="site-main">
        <div class="forms_title">
            <h1 align="center">Login</h1>
        </div>
        <div class="forms_container">
            <form class="cadastro_forms" method="POST">
                {% csrf_token %}
                <label for="email">E-mail: </label>
                <input id="email" type="text" name="email" maxlength="254" required >
                <label for="senha">Senha: </label>
                <input id="senha" type="password" name="senha" maxlength="100" required>
                <br>
                <button id="login" type="submit">Login</button>
                <button type="button" onclick="window.location.replace('/')">Cancelar</button>
            </form>
    
        </div>
    </main>

    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer"
                onclick="window.alert('Funcionalidade Indisponível')">?</button>
        </div>
    </footer>
</body>

</html>