<!doctype html>
{%load static%}

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'Jupiter_app/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/template.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/images.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/sections.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/texts.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/reset.css' %}">
    <title>Página Inicial</title>
</head>

<body>

    <header class="site-header">
        <img class="logo" alt="logo" onclick="window.location.href = '/homePaciente/'"
            src="{% static 'Jupiter_app/images/logo(1).png' %}">
        <div class="button-container-header">
            <button type="button" class="button-base-header" onclick="window.location.replace('/paciente_login/')"
                id="login">Login</button>
            <button type="button" class="button-base-header"
                onclick="window.location.replace('/cadastrar/')">Cadastre-se</button>
        </div>
    </header>

    <main class="site-main">
        <div class="center-container">
            <div class="image">
                <img class="center-img" src="{% static 'Jupiter_app/images/logo(1).png' %}">
            </div>


        </div>
    </main>

    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer"
                onclick="window.alert('Funcionalidade Indisponível')">?</button>
        </div>
    </footer>

</body>

</html>