<!DOCTYPE html>
{%load static%}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Jupiter_app/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/template.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/images.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/sections.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/texts.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/reset.css' %}">
    <title>Portal de Atividades</title>
</head>

<body>
    <header class="site-header">
        <img class="logo" alt="logo" onclick="window.location.href = '/homePaciente/'"
            src="{% static 'Jupiter_app/images/logo(1).png' %}">
        <div class="button-container-header">
            <button type="button" class="button-base-header" onclick="window.location.replace('/')"
                id="logout">Logout</button>

        </div>
    </header>

    <main class="site-main">
        <div>
            <button id="visualizar_exames" type="button" class="button_color"
                onclick="window.location.replace('exames/ ')">Visualizar Exames</button>
            <button id="visualizar_receituario" type="button" class="button_color"
                onclick="window.location.replace('receituarios/ ')">Visualizar Receituários</button>
            <button id="visualizar_recibo" type="button" class="button_color"
                onclick="window.location.replace('recibos/')">Visualizar Recibos</button>
            <button id="marcar_consulta" type="button" class="button_color" onclick="window.location.replace('/booking/'
            ">Marcar Consulta</button>

            <button id="agendamentos" type="button" class="button_color"
                onclick="window.location.replace('user-panel ')">Agendamentos</button>
        </div>

    </main>

    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer"
                onclick="window.alert('Essa é sua tela inicial Jupiter, selecione a fazer a ação que deseja dentro do sistema. Você sempre pode clicar no ícone Jupiter localizado no canto superior esquerdo da tela para voltar a essa página.')">?</button>
        </div>
    </footer>
</body>

</html>