<!DOCTYPE html>
{% load static %}

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Jupiter_app/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/template.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/images.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/sections.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/texts.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/reset.css' %}">
    <title>Receituários</title>
</head>

<body>
    <header class="site-header">
        <img class="logo" alt="logo" onclick="window.location.href = '/homePaciente/'"
            src="{% static 'Jupiter_app/images/logo(1).png' %}">

    </header>
    <main class="site-main">
        <div class="table">
            <table>
                <tr>
                    <th>Médico</th>
                    <th>Data da emissão</th>
                    <th>Visualizar Receita</th>
                </tr>
                <tr>
                    <td>Dr. Júlio Mendonça</td>
                    <td>29/05/2020</td>
                    <td><a href="{% url 'receita' %}" class="button-view">Visualizar</a></td>
                </tr>
            </table>
        </div>
    </main>
    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer"
                onclick="window.alert('Funcionalidade Indisponível')">?</button>
        </div>
    </footer>
</body>

</html>