<!DOCTYPE html>
<html>
<head>
    <title>Edit Appointment</title>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Jupiter_app/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/template.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/images.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/sections.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/texts.css' %}">
    <link rel="stylesheet" href="{% static 'Jupiter_app/reset.css' %}">

</head>

<body class="site_body">
    <header class="site-header">
        <img class="logo" alt="logo" onclick="window.location.replace('/homePaciente/')" src="{% static 'Jupiter_app/images/logo(1).png' %}">
    </header>
    
    <main class="site-main">
        <!-- Formulário para inserir o CPF -->
        <form method="post" action="{% url 'userUpdateSubmit' id %}" class="me-2 ms-2" required>
            {% csrf_token %}
            <input type="text" name="cpf" placeholder="Digite seu CPF" required>
            
            <!--input time-->
            <h3 class="text-center fPersian mt-4">Horário:</h3>
            <div>
                <select class="form-select fs-3 text-center" name="time" required>
                    {% for time in times %}
                    <option value="{{time}}">{{time}}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" style="background-color: green;" class="btn btn-primary text-white mt-3 fPersian">Confirmar alteração</button>
        </form>
    </main>

    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer"
                onclick="window.alert('Essa é a etapa final do seu reagendamento de consulta. Atente-se novamente ao horário desejado, consultas não poderão ser reagendadas com menos de 24 horas de antecedência. Ao clicar no botão CONFIRMAR, os dados da sua consulta já estarão disponíveis na sua seção de AGENDAMENTOS.')">?</button>
        </div>
    </footer>
</body>
</html>